$yellow: #fecd40;
$red: #c42737;
$teal: #2f7979;
$blue: #10273a;

$surface-color: #252728;
$surface-edge-color: #383c3d;
$background-color: #1c1c1d;
$text-color: #f5f7fa;
$text-color-hover: $yellow;

$radius: 7px;