$yellow: #fecd40;
$red: #c42737;
$teal: #2f7979;
$blue: #10273a;

$surface-color: #252728;
$surface-edge-color: #383c3d;
$background-color: #1c1c1d;
$text-color: #f5f7fa;
$text-color-hover: $yellow;

$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #1f8537;
$info-color: #2f7979;
$warning-color: #fecd40;
$error-color: #c42737;


$radius: 7px;